In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [30]:
df_train = pd.read_csv("Data/train.csv", low_memory=False)
df_train.drop(columns=['ID', 'Customer_ID', 'Name', 'SSN'], inplace=True)

In [9]:
df_train.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,March,-500,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,April,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,May,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [11]:
df_train.isna().sum()/len(df_train)

Month                       0.00000
Age                         0.00000
Occupation                  0.00000
Annual_Income               0.00000
Monthly_Inhand_Salary       0.15002
Num_Bank_Accounts           0.00000
Num_Credit_Card             0.00000
Interest_Rate               0.00000
Num_of_Loan                 0.00000
Type_of_Loan                0.11408
Delay_from_due_date         0.00000
Num_of_Delayed_Payment      0.07002
Changed_Credit_Limit        0.00000
Num_Credit_Inquiries        0.01965
Credit_Mix                  0.00000
Outstanding_Debt            0.00000
Credit_Utilization_Ratio    0.00000
Credit_History_Age          0.09030
Payment_of_Min_Amount       0.00000
Total_EMI_per_month         0.00000
Amount_invested_monthly     0.04479
Payment_Behaviour           0.00000
Monthly_Balance             0.01200
Credit_Score                0.00000
dtype: float64

In [31]:
df_train["Age"] = df_train["Age"].str.replace("_", "")
df_train["Age"] = pd.to_numeric(df_train["Age"])
df_train.loc[(df_train.Age) > 100, 'Age'] = None
df_train.loc[(df_train.Age) < 18, 'Age'] = None

In [32]:
df_train["Occupation"].value_counts(normalize=True)

_______          0.07062
Lawyer           0.06575
Architect        0.06355
Engineer         0.06350
Scientist        0.06299
Mechanic         0.06291
Accountant       0.06271
Developer        0.06235
Media_Manager    0.06232
Teacher          0.06215
Entrepreneur     0.06174
Doctor           0.06087
Journalist       0.06085
Manager          0.05973
Musician         0.05911
Writer           0.05885
Name: Occupation, dtype: float64

In [33]:
df_train.loc[df_train.Occupation == '_______', 'Occupation'] = 'Other'

In [34]:
df_train["Annual_Income"] = df_train["Annual_Income"].str.replace("_", "")
df_train["Annual_Income"] = pd.to_numeric(df_train["Annual_Income"])

In [35]:
df_train["Num_Bank_Accounts"].value_counts()

6       13001
7       12823
8       12765
4       12186
5       12118
        ...
1626        1
1470        1
887         1
211         1
697         1
Name: Num_Bank_Accounts, Length: 943, dtype: int64

In [38]:
for col in ['Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate']:
    df_train.loc[df_train[col] > 100, col] = None

In [39]:
df_train["Num_of_Loan"] = df_train["Num_of_Loan"].str.replace("_", "")
df_train["Num_of_Loan"] = pd.to_numeric(df_train["Num_of_Loan"])

In [41]:
df_train.loc[(df_train.Num_of_Loan > 50) | 
             (df_train.Num_of_Loan == -100), 'Num_of_Loan'] = None

In [42]:
df_train["Num_of_Delayed_Payment"] = df_train["Num_of_Delayed_Payment"].str.replace("_", "")
df_train["Num_of_Delayed_Payment"] = pd.to_numeric(df_train["Num_of_Delayed_Payment"])

In [43]:
df_train.loc[df_train.Changed_Credit_Limit == '_'] = None

In [44]:
df_train["Outstanding_Debt"] = df_train["Outstanding_Debt"].str.replace("_", "")
df_train["Outstanding_Debt"] = pd.to_numeric(df_train["Outstanding_Debt"])

In [45]:
df_train['Credit_History_Age']

0         22 Years and 1 Months
1                           NaN
2                          None
3         22 Years and 4 Months
4         22 Years and 5 Months
                  ...
99995     31 Years and 6 Months
99996     31 Years and 7 Months
99997     31 Years and 8 Months
99998     31 Years and 9 Months
99999    31 Years and 10 Months
Name: Credit_History_Age, Length: 100000, dtype: object