In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
df_train = pd.read_csv("../Data/train.csv", low_memory=False)

In [3]:
df_train.head(8)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard

In [4]:
df_train.drop(columns=['ID', 'Name', 'SSN'], inplace=True)

In [5]:
cols = df_train.columns
features_nan = []

for col in cols:
    if df_train[col].isna().sum() > 0:
        features_nan.append(col)
 
# features with nan        
features_nan

['Monthly_Inhand_Salary',
 'Type_of_Loan',
 'Num_of_Delayed_Payment',
 'Num_Credit_Inquiries',
 'Credit_History_Age',
 'Amount_invested_monthly',
 'Monthly_Balance']

Features with nan:
1. Monthly_Inhand_Salary -> remove nan
2. Type_of_Loan -> remove nan
3. Num_of_Delayed_Payment -> remove nan
4. Num_Credit_Inquiries -> remove nan
5. Credit_History_Age -> replace nan (done)
6. Amount_invested_monthly -> remove nan
7. Monthly_Balance -> remove nan

first replace and remove nan

Features with numbers in strings:
1. Age -> remove 18 < x < 100

In [6]:
def int_from_str(string: str) -> int:
    """Exctract an integer number from a string.
    Args:
        string (str): string containing a number.
    Returns:
        int: integer number inside the string.
    """  
    num = int(''.join(filter(str.isdigit, string)))
    return num

In [7]:
df_train['Age'] = df_train['Age'].apply(lambda x: int_from_str(x))
df_train.loc[(df_train.Age) > 100, 'Age'] = None
df_train.loc[(df_train.Age) < 18, 'Age'] = None

In [8]:
df_train.isna().sum()/len(df_train)

Customer_ID                 0.00000
Month                       0.00000
Age                         0.08482
Occupation                  0.00000
Annual_Income               0.00000
Monthly_Inhand_Salary       0.15002
Num_Bank_Accounts           0.00000
Num_Credit_Card             0.00000
Interest_Rate               0.00000
Num_of_Loan                 0.00000
Type_of_Loan                0.11408
Delay_from_due_date         0.00000
Num_of_Delayed_Payment      0.07002
Changed_Credit_Limit        0.00000
Num_Credit_Inquiries        0.01965
Credit_Mix                  0.00000
Outstanding_Debt            0.00000
Credit_Utilization_Ratio    0.00000
Credit_History_Age          0.09030
Payment_of_Min_Amount       0.00000
Total_EMI_per_month         0.00000
Amount_invested_monthly     0.04479
Payment_Behaviour           0.00000
Monthly_Balance             0.01200
Credit_Score                0.00000
dtype: float64

In [9]:
df_train["Occupation"].value_counts(normalize=True)

_______          0.07062
Lawyer           0.06575
Architect        0.06355
Engineer         0.06350
Scientist        0.06299
Mechanic         0.06291
Accountant       0.06271
Developer        0.06235
Media_Manager    0.06232
Teacher          0.06215
Entrepreneur     0.06174
Doctor           0.06087
Journalist       0.06085
Manager          0.05973
Musician         0.05911
Writer           0.05885
Name: Occupation, dtype: float64

In [10]:
df_train.loc[df_train.Occupation == '_______', 'Occupation'] = 'Other'

In [11]:
df_train["Annual_Income"] = df_train["Annual_Income"].apply(lambda x: int_from_str(x))

In [12]:
df_train["Num_Bank_Accounts"].value_counts()

6       13001
7       12823
8       12765
4       12186
5       12118
        ...
666         1
794         1
858         1
1178        1
1727        1
Name: Num_Bank_Accounts, Length: 943, dtype: int64

In [13]:
for col in ['Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate']:
    df_train.loc[df_train[col] > 100, col] = None

In [14]:
df_train["Num_of_Loan"] = df_train["Num_of_Loan"].apply(lambda x: int_from_str(x))

In [15]:
df_train.loc[(df_train.Num_of_Loan > 50) | 
             (df_train.Num_of_Loan == -100), 'Num_of_Loan'] = None

In [16]:
df_train.loc[df_train.Changed_Credit_Limit == '_', 'Changed_Credit_Limit'] = None

In [17]:
def int_from_str2(string: str) -> int:
    """Exctract an integer number from a string.
    Args:
        string (str): string containing a number.
    Returns:
        int: integer number inside the string.
    """
    ss = string.split("and")
    
    years = int(''.join(filter(str.isdigit, ss[0])))
    months = int(''.join(filter(str.isdigit, ss[1])))
    return years * 12 + months

In [18]:
df_train.loc[df_train['Credit_History_Age'].notna(), 
             'Credit_History_Age'] = df_train.loc[df_train['Credit_History_Age'].notna(), 
                                                  'Credit_History_Age'].apply(lambda x: int_from_str2(x))

In [19]:
Customer_IDs = df_train['Customer_ID'].unique()
months = df_train.Month.unique()
offsets = np.arange(len(months))

for cust_id in Customer_IDs:
    tmp_mask1 = df_train['Customer_ID'] == cust_id
    tmp_df = df_train.loc[tmp_mask1, 'Credit_History_Age'].reset_index(drop=1)
    ind = tmp_df.notna().argmax()
    base = tmp_df[ind] - ind + offsets
    df_train.loc[tmp_mask1, 'Credit_History_Age'] = base

In [20]:
df_train

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,23.0,Scientist,1911412,1824.843333,3.0,4.0,3.0,4.0,...,_,809.98,26.822620,265,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,February,23.0,Scientist,1911412,NaN,3.0,4.0,3.0,4.0,...,Good,809.98,31.944960,266,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,March,NaN,Scientist,1911412,NaN,3.0,4.0,3.0,4.0,...,Good,809.98,28.609352,267,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,April,23.0,Scientist,1911412,NaN,3.0,4.0,3.0,4.0,...,Good,809.98,31.377862,268,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,May,23.0,Scientist,1911412,1824.843333,3.0,4.0,3.0,4.0,...,Good,809.98,24.797347,269,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0x942c,April,25.0,Mechanic,3962899,3359.415833,4.0,6.0,7.0,2.0,...,_,502.38,34.663572,378,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.86622816574095,Poor
99996,CUS_0x942c,May,25.0,Mechanic,3962899,3359.415833,4.0,6.0,7.0,2.0,...,_,502.38,40.565631,379,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.651610435322,Poor
99997,CUS_0x942c,June,25.0,Mechanic,3962899,3359.415833,4.0,6.0,NaN,2.0,...,Good,502.38,41.255522,380,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.8090832742814,Poor
99998,CUS_0x942c,July,25.0,Mechanic,3962899,3359.415833,4.0,6.0,7.0,2.0,...,Good,502.38,33.638208,381,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.1649785257098,Standard
99999,CUS_0x942c,August,25.0,Mechanic,3962899,3359.415833,4.0,6.0,7.0,2.0,...,Good,502.38,34.192463,382,No,35.104023,167.1638651610451,!@9#%8,393.6736955618808,Poor

In [21]:
df_train.dropna(inplace=True)

In [22]:
df_train

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,January,23.0,Scientist,1911412,1824.843333,3.0,4.0,3.0,4.0,...,_,809.98,26.822620,265,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,CUS_0xd40,July,23.0,Scientist,1911412,1824.843333,3.0,4.0,3.0,4.0,...,Good,809.98,22.537593,271,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,CUS_0xd40,August,23.0,Scientist,1911412,1824.843333,3.0,4.0,3.0,4.0,...,Good,809.98,23.933795,272,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,CUS_0x21b1,January,28.0,Other,3484784,3037.986667,2.0,4.0,6.0,1.0,...,Good,605.03,24.464031,319,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,CUS_0x21b1,February,28.0,Teacher,3484784,3037.986667,2.0,4.0,6.0,1.0,...,Good,605.03,38.550848,320,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99991,CUS_0x8600,August,29.0,Architect,2000288,1929.906667,10.0,8.0,29.0,5.0,...,Bad,3571.7,37.140784,75,Yes,60.964772,34.66290609052614,High_spent_Large_value_payments,337.3629882027182,Standard
99994,CUS_0x942c,March,25.0,Mechanic,3962899,3359.415833,4.0,6.0,7.0,2.0,...,_,502.38,39.323569,377,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.2561579776419,Poor
99995,CUS_0x942c,April,25.0,Mechanic,3962899,3359.415833,4.0,6.0,7.0,2.0,...,_,502.38,34.663572,378,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.86622816574095,Poor
99996,CUS_0x942c,May,25.0,Mechanic,3962899,3359.415833,4.0,6.0,7.0,2.0,...,_,502.38,40.565631,379,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.651610435322,Poor
99999,CUS_0x942c,August,25.0,Mechanic,3962899,3359.415833,4.0,6.0,7.0,2.0,...,Good,502.38,34.192463,382,No,35.104023,167.1638651610451,!@9#%8,393.6736955618808,Poor

In [23]:
df_train["Num_of_Delayed_Payment"] = df_train["Num_of_Delayed_Payment"].apply(lambda x: int_from_str(x))

In [24]:
df_train["Outstanding_Debt"] = df_train["Outstanding_Debt"].apply(lambda x: int_from_str(x))

In [25]:
df_train = df_train[df_train.Monthly_Balance != "__-333333333333333333333333333__"].reset_index(drop=1)

In [26]:
df_train = df_train[df_train.Amount_invested_monthly != "__10000__"].reset_index(drop=1)

In [27]:
np.unique(df_train.Payment_Behaviour, return_counts=1)
df_train = df_train[df_train.Payment_Behaviour != '!@9#%8'].reset_index(drop=1)

In [28]:
df_train.to_csv('../Data/train_preprocessed.csv', index=False)